<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
</head>
<body>
  <div class="container">
     <h1>୨୧ Paris Wolfe ୨୧</h1>
     <p>Hello! My name is Paris Wolfe and I am a student at UWI. I enjoying working out, reading comics/graphic novels like Batman:Year One and Scott Pilgrim and  playing video games like Valorant, League of Legends and Baldurs Gate (I'm currently trying to 100% Bg3 and im almost done). I have a deep love for cats and last year I finally got one; His name is Hiroshima. I enjoy making and designing websites and I believe I will like this course just as much as I liked Web Dev 1. <3</p>

     <img src="{{ url_for('static', filename='cat.png') }}" alt="kitty">
  
  </div>  
</body>
</html>
